<header class="container">
  <nav>
    <div class="logo">
      <img src="/public/logo.png" alt="">
      <span>氧化周刊</span>
    </div>
  </nav>
</header>

<style>
  nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img{
    width:50px
  }
  .logo span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
</style>